<!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="cont_call">
                        <h3> <strong class="multi color_chang"> Call Now</strong><br>
                           +2348012345667890
                        </h3>
                     </div>
                     <div class="cont">
                        <h3> <strong class="multi"> We always remain</strong> 
                           the best in car renting.
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© {% now 'Y' %} <a href="#">Junies Car Rental Ltd.</a> All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->