{% load static %}
<!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{% url 'index' %}">
                                <img src=" {% static 'img/Junies.jpg' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link active" href="{% url 'index' %}"> Home  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'about' %}">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                              </li>
                           </ul>
                           <div class="sign_btn"><a href="{% url 'login' %}">Login in</a></div>
                           <div class="sign_btn"><a href="{% url 'signup' %}">Sign up</a></div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->